@import "./fonts";
@import "./colors";

@import "./buttons";
@import "./navbar";
@import "./auth";
@import "./inputs";
@import "./dropProfile";
@import "./orderClean";
@import "./calcCard";
@import "./resultCard";
@import "./services";
@import "./orders";

body {
  color: #2c3e50;
  background-color: #fdfeff;
}
* {
  margin: 0px;
  color: #2c3e50;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
